<div class="reports-table">
  <h3 class='dashboard-table-headers'>Run Reports</h3>

  <table>
    <tr>
      <th>Report Type</th>
    </tr>
    <tr>
      <td><a href="http://192.168.0.11/pc/Reports/BusinessPerformanceRpt.aspx" target='_blank'>Business Performance</a></td>
    </tr>
    <tr>
      <td><a href="http://192.168.0.11/pc/Reports/RxsFilledReport.aspx" target='_blank'>RXs Filled</a></td>
    </tr>
    <tr>
      <td><a href="http://192.168.0.11/pc/Reports/UnderPaidClaimsRpt.aspx" target='_blank'>Underpaid Claims</a></td>
    </tr>
    <tr>
      <td><a href="http://192.168.0.11/pc/Reports/ControlDrugDispenseRpt.aspx" target='_blank'>Control Drug Dispense</a></td>
    </tr>
  </table>
</div>
