<div class="row">
  <div class="ad">
    <div class="ad-image mobile-hidden">
      <img src="assets/images/temp/ad.png" alt="" />
    </div><!-- /.ad-image -->

    <header class="ad-head">
      <h3>BOOK YOUR APPOINTMENT</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
    </header><!-- /.ad-head -->

    <div class="ad-actions">
      <a href="#" class="button btn-white btn-small">Book NOw</a>
    </div><!-- /.ad-actions -->

    <div class="ad-contacts">
      <p class="phone">
        <i class="fa fa-mobile"></i>
        <small>BOOK THROUGH CALL</small>
        <a href="tel: 918 2345 123">918 2345 123</a>
      </p><!-- /.phone -->
    </div><!-- /.ad-contacts -->
  </div><!-- /.ad -->
</div><!-- /.row -->
