<div class="columns large-4 medium-5">
  <div class="sidebar">
    <div class="widgets">
      <div class="widget widget-services">
        <ul class="list-services list-services-alt">
          <li>
            <%= link_to "<span class='icon'><i class='icon-Rx-sign'></i></span>Retail".html_safe, divisions_retail_path %>
          </li>

          <li>
            <%= link_to "<span class='icon'><i class='icon-heart-attack'></i></span>Long Term Care".html_safe, divisions_ltc_path %>
          </li>

          <li>
            <%= link_to "<span class='icon'><i class='icon-medical-checklist'></i></span>340B".html_safe, divisions_340b_path %>
          </li>

          <li>
            <%= link_to "<span class='icon'><i class='icon-pill'></i></span>Specialty Pharmacy".html_safe, divisions_specialty_path %>
          </li>
        </ul><!-- /.list-services list-services-alt -->
      </div><!-- /.widget widget-servicess -->
    </div><!-- /.widgets -->
  </div><!-- /.sidebar -->
</div><!-- /.columns large-4 -->
