<!-- Advertising -->
<div class="row">
  <div class="ad">
    <div class="ad-image mobile-hidden">
      <%= image_tag( "ad.png", size: "189x219" ) %>
    </div><!-- /.ad-image -->

    <header class="ad-head">
      <h3>BOOK YOUR APPOINTMENT</h3>

      <p>It's easy and fast. Start now!</p>
    </header><!-- /.ad-head -->

    <div class="ad-actions">
      <a href="#" class="button btn-white btn-small">Book NOw</a>
    </div><!-- /.ad-actions -->

    <div class="ad-contacts">
      <p class="phone">
        <i class="fa fa-mobile"></i>
        <small>BOOK THROUGH CALL</small>
        <a href="tel: 514 000 0000">514 901 901</a>
      </p><!-- /.phone -->
    </div><!-- /.ad-contacts -->
  </div><!-- /.ad -->
</div><!-- /.row -->
