<div class="tab-head">
  <div class="tabs-nav">
    <div class="row">
      <div class="columns large-12">
        <ul class="list-services" itemscope itemtype="http://schema.org/Product">
          <li class="current">
            <a href="#tab1" itemprop='name'>
              <span class="icon">
                <i class="icon-Rx-sign"></i>
              </span>
              Retail
            </a>
          </li>

          <li>
            <a href="#tab2" itemprop='name'>
              <span class="icon">
                <i class="icon-heart-attack"></i>
              </span>
              Long Term Care
            </a>
          </li>

          <li>
            <a href="#tab3" itemprop='name'>
              <span class="icon">
                <i class="icon-medical-checklist"></i>
              </span>
              340B
            </a>
          </li>

          <li>
            <a href="#tab4" itemprop='name'>
              <span class="icon">
                <i class="icon-pill"></i>
              </span>
              Specialty Pharmacy
            </a>
          </li>
        </ul><!-- /.list-departments -->
      </div><!-- /.columns large-12 -->
    </div><!-- /.row -->
  </div><!-- /.tabs-nav -->
</div><!-- /.tab-head -->
