<div class="row">
  <div class="columns large-4 medium-4">
    <div class="doctor">
      <h5 class="doctor-name">Erica Moiseyev</h5><!-- /.doctor-name -->

      <div class="doctor-box">
        <div class="doctor-image">
          <a href="#">
            <%= image_tag("doctor2.jpg", size: "370x225") %>
          </a>
        </div><!-- /.doctor-image -->

        <div class="doctor-body">
          <h6>Supervising Pharmacist</h6>

          <div class="socials">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div><!-- /.socials -->

          <p>Erica graduated from Long Island University and has been a pharmacist for three years at Coney Island Pharmacy. She provides a friendly environment for her patients and is always eager to help them in any way possible.</p>

          <a href="#" class="link-more">
            <i class="fa fa-plus"></i>
            Know More
          </a>
        </div><!-- /.doctor-body -->
      </div><!-- /.doctor-box -->
    </div><!-- /.doctor -->
  </div><!-- /.columns large-4 -->

  <div class="columns large-4 medium-4">
    <div class="doctor">
      <h5 class="doctor-name single-doc-color">Belitsis Poseidon</h5><!-- /.doctor-name -->

      <div class="doctor-box single-doc-box">
        <div class="doctor-image">
          <a href="#">
            <%= image_tag("doctor3.jpg", size: "370x225") %>
          </a>
        </div><!-- /.doctor-image -->

        <div class="doctor-body">
          <h6>Supervising Pharmacist</h6>

          <div class="socials">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div><!-- /.socials -->

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

          <a href="#" class="link-more">
            <i class="fa fa-plus"></i>
            Know More
          </a>
        </div><!-- /.doctor-body -->
      </div><!-- /.doctor-box -->
    </div><!-- /.doctor -->
  </div><!-- /.columns large-4 -->

  <div class="columns large-4 medium-4">
    <div class="doctor">
      <h5 class="doctor-name">Larisa Shalonov</h5><!-- /.doctor-name -->

      <div class="doctor-box">
        <div class="doctor-image">
          <a href="#">
            <%= image_tag("doctor4.jpg", size: "370x225") %>
          </a>
        </div><!-- /.doctor-image -->

        <div class="doctor-body">
          <h6>Supervising Pharmacist</h6>

          <div class="socials">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div><!-- /.socials -->

          <p>Larisa Shalonov graduated from St. John's University School of Pharmacy in 1999 with a B.S. degree in pharmacy. She has many years of experience in retail pharmacy. She has been a dedicated pharmacist at Quick Rx Pharmacy since 2008.</p>

          <a href="#" class="link-more">
            <i class="fa fa-plus"></i>
            Know More
          </a>
        </div><!-- /.doctor-body -->
      </div><!-- /.doctor-box -->
    </div><!-- /.doctor -->
  </div><!-- /.columns large-4 -->
</div><!-- /.row -->
