<div class="tabs-body">
  <div class="tab-body current" id="tab1">
    <div class="row">
      <div class="columns large-4 medium-6">
        <div class="service-description">
          <h1><span>Quick RX</span>Retail Stores</h1>
          <p>With over 10 locations and rapidly growing, Quick RX is sure to be in your area soon!</p>
          <a href="#"><i class="fa fa-plus"></i> Know more</a>
        </div><!-- /.service-description -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-6">
        <div class="service-benefits">
          <h3>Why Come To Quick RX?</h3>

          <ul class="list-checks">
            <li>
              <p>
                <i class="fa fa-check"></i>
                Qualified & Friendly Staff
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Superior Customer Service
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Caring Pharmacists
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Location
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Accept All Insurances!
              </p>
            </li>
          </ul><!-- /.list-checks -->
        </div><!-- /.service-benefits -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-12">
        <div class="service-video">
          <%= image_tag( "intro2.jpg", class: "video-poster" ) %>
          <a href="#" class="btn-play"></a>
        </div><!-- /.service-video -->
      </div><!-- /.columns large-4 -->
    </div><!-- /.row -->
  </div><!-- /.tab-body -->

  <div class="tab-body" id="tab2">
    <div class="row">
      <div class="columns large-4 medium-6">
        <div class="service-description">
          <h1>
            <span>Quick RX</span>
            Long Term Care
          </h1>

          <p>Our long term care pharmacies service many different facilities ranging from assisted living to nursing homes.</p>

          <a href="#">
            <i class="fa fa-plus"></i>
            Know More
          </a>
        </div><!-- /.service-description -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-6">
        <div class="service-benefits">
          <h3>Why Choose Us?</h3>

          <ul class="list-checks">
            <li>
              <p>
                <i class="fa fa-check"></i>
                Transparency
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Adherence
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Customized Medication Packaging
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Proprietary Systems & Technology
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Multiple Daily Deliveries
              </p>
            </li>
          </ul><!-- /.list-checks -->
        </div><!-- /.service-benefits -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-12">
        <div class="service-video">
          <%= image_tag( "intro3.jpg", class: "video-poster" ) %>
          <a href="#" class="btn-play"></a>
        </div><!-- /.service-video -->
      </div><!-- /.columns large-4 -->
    </div><!-- /.row -->
  </div><!-- /.tab-body -->

  <div class="tab-body" id="tab3">
    <div class="row">
      <div class="columns large-4 medium-6">
        <div class="service-description">
          <h1>
            <span>Quick RX</span>340B
          </h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <a href="#">
            <i class="fa fa-plus"></i>
            Know more
          </a>
        </div><!-- /.service-description -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-6">
        <div class="service-benefits">
          <h3>Quick Look at benefits</h3>

          <ul class="list-checks">
            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>
          </ul><!-- /.list-checks -->
        </div><!-- /.service-benefits -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-12">
        <div class="service-video">
          <%= image_tag( "intro5.jpg", class: "video-poster" ) %>
          <a href="#" class="btn-play"></a>
        </div><!-- /.service-video -->
      </div><!-- /.columns large-4 -->
    </div><!-- /.row -->
  </div><!-- /.tab-body -->

  <div class="tab-body" id="tab4">
    <div class="row">
      <div class="columns large-4 medium-6">
        <div class="service-description">
          <h1>
            <span>Quick RX</span>
            Specialty
          </h1>

          <p>Our specialty pharmacies are...</p>

          <a href="#">
            <i class="fa fa-plus"></i>
            Know More
          </a>
        </div><!-- /.service-description -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-6">
        <div class="service-benefits">
          <h3>Quick Look at benefits</h3>

          <ul class="list-checks">
            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>

            <li>
              <p>
                <i class="fa fa-check"></i>
                Lorem
              </p>
            </li>
          </ul><!-- /.list-checks -->
        </div><!-- /.service-benefits -->
      </div><!-- /.columns large-4 -->

      <div class="columns large-4 medium-12">
        <div class="service-video">
          <%= image_tag( "intro4.jpg", class: "video-poster" ) %>
          <a href="#" class="btn-play"></a>
        </div><!-- /.service-video -->
      </div><!-- /.columns large-4 -->
    </div><!-- /.row -->
  </div><!-- /.tab-body -->
</div><!-- /.tabs-body -->
