<section class="section section-testimonials">
  <header class="section-head">
    <i class="fa fa-quote-left"></i>

    <h2>What our patients have to say</h2>

    <h6>We are reliable &amp; Trusted</h6>
  </header><!-- /.section-head -->

  <div class="row">
    <div class="slider-testimonials">
      <div class="slider-clip">
        <ul class="slides">
          <li class="slide">
            <div class="slide-caption">
              <blockquote>
                This is a great pharmacy with superb service. They are friendly and responsive. They have a large selection and if they don't have some medicine, they offer to bring it right away.
              </blockquote>

              <div class="user">
                <div class="user-image">
                  <%= image_tag( "user-defne.jpg", size: "82x82" ) %>
                </div><!-- /.user-image -->

                <div class="user-meta">
                  <h6>Defne A., <span>Fulton St.</span></h6>
                </div><!-- /.user-meta -->
              </div><!-- /.user -->
            </div><!-- /.slide-caption -->
          </li><!-- /.slide -->

          <li class="slide">
            <div class="slide-caption">
              <blockquote>
                A pharmacy that lives up to its name. These ladies work closely with Columbia Hospital, so Rx is filled in a timely fashion. I've never had an issue or had to wait with them, and the staff is extremely personable. A hidden gem and reliable.
              </blockquote>

              <div class="user">
                <div class="user-image">
                  <%= image_tag( "user-maxwell.jpg", size: "82x82" ) %>
                </div><!-- /.user-image -->

                <div class="user-meta">
                  <h6>Maxwell C., <span>Audubon Avenue</span></h6>
                </div><!-- /.user-meta -->
              </div><!-- /.user -->
            </div><!-- /.slide-caption -->
          </li><!-- /.slide -->
        </ul><!-- /.slides -->
      </div><!-- /.slider-clip -->
    </div><!-- /.slider-testimonials -->
  </div><!-- /.row -->
</section><!-- /.section-testimonials -->
