<section class="event section-add-comment">
  <header class="section-head event-date">
    <p>ADD YOUR COMMENT</p>
  </header><!-- /.section-head event -->

  <div class="section-body event-box">
    <div class="form form-add-comment">
      <form action="?" method="post">
        <div class="form-row form-row-alt">
          <div class="form-controls">
            <input type="text" class="field" required name="field-fname" id="field-fname" value="" placeholder="Full Name*" />
          </div><!-- /.form-controls -->
        </div><!-- /.form-row -->

        <div class="form-row form-row-alt">
          <div class="form-controls">
            <input type="email" class="field" required name="field-email" id="field-email" value="" placeholder="Your Email Address*" />
          </div><!-- /.form-controls -->
        </div><!-- /.form-row -->

        <div class="form-row">
          <div class="form-controls">
            <input type="text" class="field" required name="field-website" id="field-website" value="" placeholder="Website" />
          </div><!-- /.form-controls -->
        </div><!-- /.form-row -->

        <div class="form-row">
          <div class="form-controls">
            <textarea class="textarea" name="field-message"  required id="field-message" placeholder="Message*"></textarea>
          </div><!-- /.form-controls -->
        </div><!-- /.form-row -->

        <div class="form-actions">
          <input type="submit" value="SUBMIT NOW" class="button btn-purple btn-small" />

          <p class="form-notice">
            You can use these HTML tags and attributes:<span class="purple"> &lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</span>
          </p><!-- /.form-notice -->
        </div><!-- /.form-actions -->
      </form>
    </div><!-- /.form-add-comment -->
  </div><!-- /.section-body event-box -->
</section><!-- /.section-add-comments -->
