<div class="intro intro-small">
  <div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
    <%= image_tag( 'intro9' ) %>
  </div><!-- /.intro-image -->

  <div class="row">
    <div class="intro-caption">
      <h5>What's new</h5>

      <h2>Latest news</h2>
    </div><!-- /.intro-caption -->
  </div><!-- /.row -->
</div><!-- /.intro intro-small -->

<div class="columns large-12">
  <p class="breadcrumbs">
  </p><!-- /.breadcrumbs -->
</div><!-- /.columns large-12 -->
