<div class="widget widget-tags">
  <h4>CHOOSE CATEGORY</h4>

  <h3>TAGS</h3>

  <ul class="list-tags">
    <% @tags.each_with_index do | tag, idx | %>
      <% if idx == 6 %>
        <% break %>
      <% end %>
      <li>
        <%= link_to "#{tag.tag}", news_path( tag.posts.first.id ) %>
      </li>
    <% end %>
  </ul><!-- /.list-tags -->
</div><!-- /.widget widget-tags -->
