<div class="widget widget-posts">
  <h4>CHOOSE</h4>

  <h3>RANDOM POSTS</h3>

  <ol class="list-simple-posts">
    <% @posts.shuffle.each_with_index do | post, idx | %>
      <% if idx == 3 %>
        <% break %>
      <% end %>

      <li>
        <%= link_to news_path( post.id ) do %>
            <span class="image">
              <%= image_tag( 'post.png' ) %>
            </span>

            <span class='info'>
              <span class='title'>
                <%= post.title %>
              </span>

              <span class='meta'>
                <%= post.created_at.strftime( "%B %d, %Y" ) %>
              </span>
            </span>
        <% end %>
      </li>
    <% end %>
  </ol><!-- /.list-simple-posts -->
</div><!-- /.widget widget-posts -->
