<div class="widget widget-socials">
  <h4>Follow</h4>

  <h3>Social Links</h3>

  <div class="socials socials-secondary">
    <ul>
      <li>
        <a href="#" class="facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>

      <li>
        <a href="#" class="twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

      <li>
        <a href="#" class="linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div><!-- /.socials -->
</div><!-- /.widget widget-socials -->
