<div class="widget widget-tags">
  <h4>CHOOSE CATEGORY</h4>

  <h3>TAGS</h3>

  <ul class="list-tags">
    <li>
      <a href="#">CArdiology</a>
    </li>

    <li>
      <a href="#">heart replacement</a>
    </li>

    <li>
      <a href="#">Transplant services</a>
    </li>

    <li>
      <a href="#">dental care</a>
    </li>

    <li>
      <a href="#">Nurology</a>
    </li>

    <li>
      <a href="#">cancer treatment</a>
    </li>
  </ul><!-- /.list-tags -->
</div><!-- /.widget widget-tags -->
