<div class="wrapper">
	<%= render 'layouts/header' %>

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-12 medium-12">
				<div class="content">
					<article class="event article-single-event">
						<div class="entry-content">
							<div class="event-body" itemprop="articleBody">
                <h2>
                  Legal
                </h2>

                <br>

								<h4>
                  This website was developed as a service provided by Quick Rx FL, LLC. (“Quick Rx”). By using this website you agree to these Terms of Use. If you do not agree, please exit and disregard the information contained herein.
                  <br>
                  This website is intended for US audiences only. You must be at least 18 years of age to use the services on this website.
                </h4>

                <h3>
                  Modification of Terms
                </h3>

                <p>
                  Quick Rx reserves the right to change these terms from time to time as it deems to be necessary. You agree to be bound by the revised terms, which become effective when first posted to the site. You may view the current applicable version of these Terms of Use at any time through a link at the bottom of each page within this website.
                </p>

                <h3>
                  Medical Information
                </h3>

                <p>
                  Information contained herein is intended only for the purpose of helping consumers better understand certain health conditions and treatment options. The information is not intended to be a substitute for the advice of a healthcare professional, or a recommendation for any particular treatment plan.
                  <br>
                  <br>
                  IT IS IMPORTANT THAT CONSUMERS CONSULT WITH A HEALTHCARE PROFESSIONAL FOR DETAILED INFORMATION ABOUT MEDICAL CONDITIONS AND TREATMENT.
                </p>

                <h3>
                  Disclaimers
                </h3>

                <p>
                  Quick Rx has made and will continue to make efforts to include accurate and up-to-date information on this website. However, we provide no warranty or guarantee regarding the accuracy, timeliness, completeness or suitability of the information and materials found or offered on this website for any purposes. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                  <br>
                  <br>
                  This website is provided “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Quick Rx DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED ON THIS WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT THIS WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.
                  <br>
                  <br>
                  All users agree that all access and use of this website and the content thereof is at their own risk. Neither Quick Rx nor any other party involved in creating, producing or delivering this website shall be liable in any manner whatsoever for any direct, incidental, consequential, indirect or punitive damages arising out of your access, use or inability to use this Website, or any errors or omissions in its content.
                </p>

                <h3>
                  Intellectual Property
                </h3>

                <p>
                  Images and information contained on this website are copyrighted and otherwise proprietary. Unless otherwise expressly noted, nothing on this website may be copied or used except as provided in these Terms of Use or with the prior written consent of Quick Rx.
                  <br>
                  <br>
                  Quick Rx grants you permission to print individual pages from this website, unless otherwise expressly noted, for your own personal, non-commercial use in learning about services or products offered by Quick Rx or for your non-commercial use in connection with healthcare or education. No other permission is granted to you to print, copy, reproduce, distribute, license, transfer, sale, transmit, upload, download, store, display in public, alter, modify or create derivative works of these materials. This grant of permission is not a transfer of title.
                  <br>
                  <br>
                  Unless otherwise indicated, all logos, designs, and marks on this website are trademarks or service marks owned or used under license by Quick Rx.
                </p>

                <h3>
                  Representations by You
                </h3>

                <p>
                  You are solely responsible for any material you submit to this website. You agree not to submit or transmit any material that is unlawful, threatening, libelous, defamatory, obscene, profane, harassing, harmful, or might in any other way violate any law, regulation, or rule. You further agree not to upload, e-mail, post or transmit to, or distribute or otherwise publish through this website any material which disrupts the normal operation of the site, including posting or otherwise transmitting material that is not related to the subject at issue or otherwise restricts or inhibits any other user from using the site. You may not transmit any material that contains viruses, Trojan horses, worms, trap doors, back doors, Easter eggs, time bombs, cancelbots, net bots or any other harmful or deleterious programs or scripts. Quick Rx retains the right to remove any such content as it determines appropriate.
                  <br>
                  <br>
                  Should you submit any information to us, including feedback, questions, comments, suggestions, or the like regarding the content of this website, such information shall be deemed to be non-confidential, and Quick Rx shall have no obligation of any kind with respect to such information. Quick Rx shall be free to reproduce, use, disclose, and distribute such information to others without limitation. Quick Rx shall be free to use any ideas, concepts, know-how or techniques contained in such information for any purpose whatsoever, including but not limited to developing, manufacturing, and marketing products incorporating such information.
                </p>

                <h3>
                  Registration
                </h3>

                <p>
                  In order to obtain full access to this website, you may be required to complete a registration. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. You accept responsibility for all activities that occur under your account or password and such use shall be deemed to be use by you. You will ensure that all use of your account fully complies with these Terms of Use. Transfer of the account by you to any other person or entity is prohibited.
                </p>

                <h3>
                  Termination of Access
                </h3>

                <p>
                  Quick Rx reserves the right to suspend or terminate your access to all or part of this website, at any time, without notice to you, if it believes, in its sole judgment, that you have breached or may breach any term or condition of this agreement, or for its convenience.
                </p>

                <h3>
                  Privacy Statement
                </h3>

                <p>
                  <ul type="square">
                    <li>
                      The Health Insurance Portability and Accountability Act (HIPAA) requires that all healthcare providers provide a Notice of Privacy Practices. The notice will inform you of the ways we may use your health information and the occasions on which we may disclose this information to others.
                    </li>

                    <li>
                      In addition to Quick Rx's obligation to maintain the privacy of your health information, you have the right, within the limits provided by federal and state law, to:
                    </li>

                    <li>
                      Inspect and obtain a copy of your health information.
                    </li>

                    <li>
                      Request an amendment to the health information contained in your designated record set.
                    </li>

                    <li>
                      Obtain an accounting of certain disclosures of your health information.
                    </li>

                    <li>
                      Receive notice in the event of a breach of your health information.
                    </li>

                    <li>
                      Request restrictions on certain uses and disclosures of your health information.
                    </li>

                    <li>
                      Request confidential communications of your health information.
                    </li>

                    <li>
                      Receive a paper copy of this Notice in addition to any electronic copy you may receive.
                    </li>

                    <li>
                      File a complaint if you feel your privacy has been violated.
                    </li>

                    <li>
                      Patient Bill of Rights
                    </li>
                  </ul>

                </p>

                <h3>
                  Website Privacy Policies
                </h3>

                <p>
                  Quick Rx has established website policies designed to protect the privacy of website visitors. Information gathered by Quick Rx is used only with the visitor’s permission to provide credible and personally relevant health information, and to improve Quick Rx's site.

                  Quick Rx's website has been developed by Quick Rx FL LLC., 1047 Surf Ave., Brooklyn, NY 11224. Contact us by e-mail at support@qrpgroup.com or by telephone at 212.249.8202 between 9 a.m. and 5 p.m. (EST), Monday through Friday, except on holidays.
                </p>

                <h3>
                  What Information Do We Collect?
                </h3>

                <p>
                  Quick Rx collects the domain name (e.g., xyz.com) of a visitor’s server whenever possible. Quick Rx collects any information a visitor provides on a survey or feedback form, or on subscription form.
                </p>

                <h3>
                  How Do We Use the Information We Collect?
                </h3>

                <p>
                  Quick Rx does not sell, trade or rent personal information about its website visitors.
                  <br>
                  The domain name of the server from which a visitor comes is used to determine the number of visitors to our site, and the sources of that traffic.
                  <br>
                  <br>
                  Email addresses provided by visitors are used to:
                  <br>

                  <ul type='square'>
                    <li>
                      Respond to comments submitted through feedback and surveys forms, when appropriate.
                    </li>

                    <li>
                      Distribute personalized emails about healthcare information to those who request such personalized emails.
                    </li>
                  </ul>
                  We may also collect information that is combined with other web visitors’ information, such as how many times visitors click on each web page and the methods by which our site was accessed.
                </p>

                <h3>
                  How Can I Get My Name Removed From Your Files?
                </h3>

                <p>
                  If you no longer wish to receive emails from Quick Rx, please let us know by sending an email message to support@qrpgroup.com. Please be certain to provide the following, so we can honor your request:
                  <br>
                  <br>
                  Your full name
                  <br>
                  Your email address (If you use more than one email address, send a message from each of your email accounts.)
                  <br>
                  A sentence asking that your email address be removed from our files
                </p>

                <h3>
                  What Are “Cookies?”
                </h3>

                <p>
                  “Cookies” are small pieces of information that are stored by your browser on your computer’s hard drive. Cookies cannot pass viruses, harm your computer or pass on private information such as an email address without the computer user’s intervention. Most web browsers automatically accept cookies. Quick Rx uses cookies only to monitor the number of visitors from other websites. Our cookies do not contain information that allows us to identify you personally. To view our website, your browser needs to accept cookies.

                  You can delete cookies from your hard drive at any time. You can set your internet browser so that it will not allow cookies to be stored on your device. This will prohibit you from using the Quick Rx website. Further information on how to prevent cookies from being stored on your device can be found on http://www.allaboutcookies.org under the ‘manage cookies’ section. Alternatively, you can access further information by going to the help menu within your internet browser. To opt out of being tracked by Google Analytics across all websites visit http://tools.google.com/dlpage/gaoptout.
                </p>

                <h3>
                  Your Consent
                </h3>

                <p>
                  By using our website, you consent to the collection and use of the information discussed above. Changes in this policy will be posted on this page so that you may always be aware of what information is being collected, how it is being used, and under what circumstances it is being disclosed.
                </p>

                <h3>
                  What Happens When You Click a Link to a Third-Party Website?
                </h3>

                <p>
                  If you click on a link and go to another site, you will be subject to that website’s privacy policy. If we conduct business with that website such that we need to exchange personally identifiable information, we will make sure that the business has a privacy policy just as protective as ours. We encourage you to read the posted privacy policy statement at any website before submitting any personal information at all.
                </p>

                <h3>
                  What Is Our Privacy Policy for Those Under 13 Years of Age?
                </h3>

                <p>
                  We understand the importance of protecting the privacy of all individuals, especially the very young. Our services are intended for United States audiences over the age of 18. We neither target nor sell our products to children under the age of 13, and we do not knowingly collect personal information from them. Subscribing to our online service is restricted to adults who are either 18 years of age or older or as otherwise legally defined.
                </p>

                <h3>
                  Tell Us What You Think
                </h3>

                <p>
                  Quick Rx welcomes your questions and comments, about privacy or about any other subject. Please send your email to support@qrpgroup.com.
                </p>

                <h3>
                  Complaints
                </h3>

                <p>
                  If you believe your privacy rights have been violated, you may file a complaint with Quick Rx and/or with the Secretary of the Department of Health and Human Services, or his designee. If you wish to file a complaint with Quick Rx, please contact our Human Resources Officer using the contact information at the end of this statement. If you wish to file a complaint with the Secretary, please write to:
                  <br>

                  <blockquote>
                    U.S. Department of Health and Human Services
                    <br>
                    Office of Inspector General
                    <br>
                    200 Independence Ave. S.W.
                    <br>
                    Washington, D.C. 20201
                  </blockquote>

                  Quick Rx will not retaliate, take any adverse action against you, or penalize you in any way, as a result of your filing of a complaint.
                </p>

                <h3>
                  Contact Information
                </h3>

                <p>
                  If you have any questions about Quick Rx's privacy practices, or for clarification about anything contained within this Notice, please contact:
                  <br>

                  <blockquote>
                    Quick Rx FL, LLC.
                    <br>
                    Attn: Lidiya Glushenkova
                    <br>
                    1047 Surf Ave.
                    <br>
                    Brooklyn, NY 11224
                    <br>
                    Phone: 212.249.8202 ext. 103
                  </blockquote>
                </p>
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->
		</div><!-- /.row -->
	</div><!-- /.main -->
  <%= render 'layouts/footer' %>
</div><!-- wrapper -->
<%= javascript_include_tag "testimonials.js" %>
