<tr>
  <td><%= item.name %></td>
  <% if item.link != 'http://' %>
    <td><%= link_to 'Order Here', item.link, target: '_blank' %></td>
  <% else %>
    <td></td>
  <% end %>
  <td><%= item.pharmacy.name %></td>
  <td><%= "#{ item.user.first_name } #{ item.user.last_name }" %></td>
</tr>
